zappy_ref*

.DS_Store

server/build
server/build-tests
gui/build
ia/.cache
*.cache
*.out
zappy_server
zappy_gui
zappy_ia

vcpkg_installed/
vcpkg-bootstrap.log

server/tests/.venv
server/tests/__pycache__
server/tests/functional/__pycache__
.pytest_cache
compile_commands.json
compile_commands.json
